<div class="wrapper">
    <fd-header></fd-header>
 
  
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
  
       <router-outlet></router-outlet> 
       <!--
         removido
         <fd-home></fd-home>
       --> 
      </div>
    </div>
  
    <fd-snackbar></fd-snackbar>
  
    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.0
        </div>
        <strong>foodDelivery</strong> Angular Application
      </div>
    </footer>
  </div>
  